:root {
    /* Colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    /* Fonts & Weights */
    --ff-primary: 'Inter', sans-serif;
    --fs-preset-2: 0.875rem;
    --fs-preset-1: 1.5rem;
    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    color: var(--white);
}

main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    display: flex;
    max-width: 24rem;
    padding: 2.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--grey-800);
}

img {
    border-radius: 62.4375rem;
    width: 5.5rem;
    height: 5.5rem;
}

h2 {
    align-self: stretch;
    text-align: center;
    font-size: var(--fs-preset-1);
    font-weight: var(--fw-medium);
    font-style: normal;
    line-height: 150%;
    gap: 0.25rem;
}

header p {
    align-self: stretch;
    text-align: center;
    color: var(--green);
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-bold);
    font-style: normal;
    line-height: 150%;
    gap: 1.5rem;
}

p {
    text-align: center;
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-regular);
    font-style: normal;
    line-height: 150%;
    gap: 1.5rem;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

li {
    width: 100%;
    list-style-type: none;
}

.links a {
    width: 19rem;
    color: var(--white);
    text-align: center;
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-bold);
    font-style: normal;
    line-height: 150%;
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: var(--grey-700);
    border: none;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.links a:hover {
    color: var(--grey-900);
    background-color: var(--green);
    transform: scale(1.03);
}

.attribution {
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

footer {
    margin-top: -5dvh;
}